# 1. Introduction

This notebook was written to train Porto Alegre Traffic Accidents Data after the first cleaning, processing, and transforming step. This was made in a notebook in the `data` folder. In truth, we will have 3 models.

1. Predict the probability of injured people.

2. Predict the probability of seriously injured people.

3. Predict the probability of dead people in the event or after it.

The path to training the models will be the same, just make some filtering on data and analyze the results properly.

# 2. Data Loading

In [5]:
import os.path as path
from pandas import read_csv

file_csv =  path.abspath("../")

file_csv = path.join(file_csv, "data" ,"accidents_trans.csv")

accidents_trans = read_csv(file_csv)

accidents_trans.head(3).T

                            0        1        2
latitude           -30.009614 -30.0403  -30.069
longitude          -51.185581 -51.1958 -51.1437
feridos                  True     True     True
feridos_gr              False    False    False
fatais                  False    False    False
caminhao                False    False    False
moto                     True     True    False
cars                     True     True     True
transport               False    False    False
others                  False    False    False
holiday                 False     True     True
day_1                       0        0        0
day_2                       0        0        0
day_3                       0        0        0
day_4                       0        0        0
day_5                       1        0        0
day_6                       0        1        1
hour_1                      0        0        0
hour_2                      0        0        0
hour_3                      0        0        0
hour_4                      0        0        0
hour_5                      0        0        0
hour_6                      0        0        0
hour_7                      0        0        0
hour_8                      0        0        0
hour_9                      0        0        0
hour_10                     0        1        0
hour_11                     0        0        0
hour_12                     0        0        0
hour_13                     0        0        0
hour_14                     0        0        0
hour_15                     0        0        0
hour_16                     0        0        0
hour_17                     0        0        0
hour_18                     0        0        0
hour_19                     1        0        1
hour_20                     0        0        0
hour_21                     0        0        0
hour_22                     0        0        0
hour_23                     0        0        0
type_ATROPELAMENTO          0        0        1
type_CHOQUE                 0        0        0
type_COLIS√ÉO                0        0        0
type_OUTROS                 0        0        0

# 3. Data Preparation

In [6]:
import joblib as jb # Use to save the model to deploy
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [7]:
outputs = ["feridos", "feridos_gr", "fatais"]
inputs = [col for col in accidents_trans.columns if col not in outputs]

X = accidents_trans[inputs].copy()
Y = accidents_trans[outputs].copy()

# Filtering data considering the output
output = "feridos_gr"

if output == "feridos_gr":
    X = X[Y["feridos"]]
    Y = Y.loc[Y["feridos"], "feridos_gr"]
elif output == "fatais":
    X = X[Y["feridos_gr"]]
    Y = Y.loc[Y["feridos_gr"], "fatais"]
else:
    Y = Y["feridos"]

print(f"Our model to predict the probability of " \
      f"{output} will be create with {X.shape[0]} " \
      f"rows and {X.shape[1]} features.")

Our model to predict the probability of feridos_gr will be create with 25497 rows and 41 features.

In [8]:
import csv

with open("model_features.csv", 'w') as f:
    writer = csv.writer(f)
    writer.writerow(X.columns)

Considering that we will use models scaling sensitive, we will need to scale our data first. Beside this, we will need to save our scaler for future use.

In [9]:
# Setting the random state using my luck number :-)
lucky_num = 7

# X_train and y_train to train our model
X_train, X_test, y_train, y_test = train_test_split(
    X,
    Y,
    test_size=0.30,
    random_state=lucky_num,
    shuffle=True,  # Used because our data is sort by date
    stratify=Y)  # Used because our data is unbalanced

# Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Saving scaler
file_name = "scaler_" + output + '.pkl'
jb.dump(scaler, path.join(path.abspath("./"), file_name))

['c:\\Users\\grego\\OneDrive\\Documentos\\Documentos Pessoais\\00_DataCamp\\09_VSC\\poa_car_accidents\\poa_car_accidents\\model\\scaler_feridos_gr.pkl']

# 4. Data Modeling

We will create and use cross-validation to evaluate the following models:

- Logistic Regression;

- Gaussian Naive Bayes;

- K Neighbors;

- Random Forest;

- Gradient Boosting; and,

- XGBoost.

We will use two scores to select and evaluate our models:

- F1 score: composition between the precision (how much our model correct classify every true label) and recall (how moch our model correct indicate true labels); and,

- Brier score: average between the correct and the predict probability.

However, we will see other metrics to support our decision:

- Accurancy;

- ROC_AOC; and,

- Log loss (an other way to quantify the quality of probability predictions).

And, before you go, we will find for each model if there is a hyperparameter to deal with the unbalanced output.

In [10]:
import pandas as pd
import xgboost as xgb
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate 
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, roc_auc_score, f1_score, brier_score_loss, log_loss

scores = ["accuracy", "f1", "precision", "recall", "roc_auc", "neg_brier_score","neg_log_loss"]

In [11]:
def eval_model(cls) -> tuple:
    """This function will calculate the metrics
    to evaluate a classification model.
    """
    # Predicting labels and probabilities
    y_pred = cls.predict(X_test)
    y_prob = cls.predict_proba(X_test)[:,1]

    # Calculating scores
    accurancy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    roc_auc = roc_auc_score(y_test, y_prob)  # https://datascience.stackexchange.com/questions/114394/does-roc-auc-different-between-crossval-and-test-set-indicate-overfitting-or-oth
    brier_score = brier_score_loss(y_test, y_prob)
    log_loss_value = log_loss(y_test, y_prob)

    return accurancy, f1, precision, recall, roc_auc, brier_score, log_loss_value

def create_model(name: str, cls) -> list:
    """This function will create some models
    and return scores to evaluate it."""
    # Ftting model
    cls.fit(X_train, y_train)

    # Using cross-validation to evaluate the model fitted
    cls_cross = cross_validate(
        estimator=cls,
        X=X_train,
        y=y_train,
        cv=5,
        scoring=scores)

    df_cv = pd.DataFrame.from_dict(cls_cross, orient='index', columns=["CV"+str(i) for i in range(1,6)])

    # Calculating score to test set
    accurancy, f1, precision, recall, roc_auc, brier_score, log_loss_value = eval_model(cls)

    # Filling a dataframe to better presentation
    df_cv.at["test_accuracy", "TestSet"] = accurancy
    df_cv.at["test_f1", "TestSet"] = f1
    df_cv.at["test_recall", "TestSet"] = recall
    df_cv.at["test_precision", "TestSet"] = precision
    df_cv.at["test_roc_auc", "TestSet"] = roc_auc
    df_cv.at["test_neg_brier_score", "TestSet"] = -brier_score
    df_cv.at["test_neg_log_loss", "TestSet"] = -log_loss_value

    caption = f"{name} Validation Scores"

    display(df_cv.style.set_caption(caption))

    return [accurancy, f1, precision, recall, roc_auc, brier_score, log_loss_value]

In [15]:
# XGB hyperparameter that deals with unbalanced
scale_pos_weight = Y.mean()**-1

# Creating the model objects
cls_lr = LogisticRegression(
            class_weight="balanced",  # Hyperparameter to deal with unbalanced output
            random_state=lucky_num)
# cls_svm = SVC(random_state=lucky_num)  # Remove due its resource consumption and worst results
cls_nb = GaussianNB()
cls_knn = KNeighborsClassifier()
cls_rf = RandomForestClassifier(
            random_state=lucky_num,
            class_weight="balanced_subsample")  # Hyperparameter to deal with unbalanced output
cls_gbc = GradientBoostingClassifier(random_state=lucky_num)
cls_xgb = xgb.XGBClassifier(
            objective="binary:logistic",
            verbose=None,
            random_state=lucky_num,
            scale_pos_weight = scale_pos_weight)

# Lists to iterate on our modeling function
cls_name = ["LR", "NB", "KNN", "RF", "GBC", "XGB"]
cls_list = [cls_lr, cls_NB, cls_knn, cls_rf, cls_gbc, cls_xgb]

mdl_summaries = []
for name, inst in zip(cls_name, cls_list):
    mdl_list = create_model(name, inst)
    mdl_list = [name] + mdl_list
    mdl_summaries.append(mdl_list)

df_mdl = pd.DataFrame(
            mdl_summaries,
            columns=[
                "model",
                "test_accuracy",
                "test_f1",
                "test_precision",
                "test_recall",
                "test_roc_auc",
                "test_brier",
                "test_log_loss"])

In [16]:
df_mdl.sort_values(
        "test_f1",
        ascending=False,
        inplace=True,
        ignore_index=True)

display(df_mdl.style.set_caption("Test set validation scores"))

Any of models present good results! We will try to fit a composite model with the 3 better.

In [21]:
# Selecting the models
cls_name = ["LR", "NB", "XGB"]
cls_list = [cls_lr, cls_nb, cls_xgb]

# Training the voting classifier
cls_vot = VotingClassifier([*zip(cls_name, cls_list)], voting="soft")
cls_vot.fit(X_train, y_train)

# Using cross-validation to evaluate the model fitted
cls_cross = cross_validate(
    estimator=cls_vot,
    X=X_train,
    y=y_train,
    cv=5,
    scoring=scores)

df_vot = pd.DataFrame.from_dict(cls_cross, orient='index', columns=["CV"+str(i) for i in range(1,6)])

# Calculating score to test set
accurancy, f1, precision, recall, roc_auc, brier_score, log_loss_value = eval_model(cls_vot)

# Filling a dataframe to better presentation
df_vot.at["test_accuracy", "TestSet"] = accurancy
df_vot.at["test_f1", "TestSet"] = f1
df_vot.at["test_recall", "TestSet"] = recall
df_vot.at["test_precision", "TestSet"] = precision
df_vot.at["test_roc_auc", "TestSet"] = roc_auc
df_vot.at["test_neg_brier_score", "TestSet"] = -brier_score
df_vot.at["test_neg_log_loss", "TestSet"] = -log_loss_value

display(df_vot.style.set_caption("Test set validation scores for Composite Model"))

The composite model is not better than neat models. Well, maybe some tuning could handle this. But this will be done in future work.

In [11]:
# Saving
# file_name = "model_" + output + '.pkl'
# jb.dump(cls_vot, path.join(path.abspath("./"), file_name))

['c:\\Users\\grego\\OneDrive\\Documentos\\Documentos Pessoais\\00_DataCamp\\09_VSC\\poa_car_accidents\\poa_car_accidents\\model\\model_feridos.pkl']